<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="hospital_root"
              name="Hospital"
              web_icon="hspl_hospitals,static/description/logo.png"
              sequence="0"/>

    <menuitem id="patient_details_root"
              name="Patients"
              parent="hospital_root"
              sequence="0"/>

    <menuitem id="appointment_master"
              name="Appointment"
              parent="hospital_root"
              sequence="1"/>

    <menuitem id="configuration_root"
              name="Configuration"
              parent="hospital_root"
              sequence="2"/>

    <menuitem id="report_root"
              name="Reports"
              parent="hospital_root"
              sequence="3"/>

    <menuitem id="res_model"
              name="Res Model"
              parent="hospital_root"
              sequence="4"/>

    <menuitem id="menu_cancel_appointment"
              name="Cancellation"
              parent="appointment_master"
              action="action_cancel_appointment"
              sequence="10"/>

    <menuitem id="menu_report_appointment"
              name="Appointment"
              parent="report_root"
              action="action_report_appointment"
              sequence="10"/>

    <menuitem id="print_invoice_report_menu"
              name="Print Invoice Reports"
              parent="report_root"
              action="hspl_hospitals.action_print_invoice_reports"
              sequence="10"/>
</odoo>